@if (usuario) {

  <!-- Breadcrumb -->
  <nav class="breadcrumb">
    <a routerLink="/">Inicio</a>
    <span class="separator">/</span>
    <a href="javascript:void(0)" (click)="regresar()">Usuarios</a>
    <span class="separator">/</span>
    <span class="active">{{ usuario.name }}</span>
  </nav>

  <!-- Info principal -->
  <section class="main-info">

    <!-- Foto con tarjeta de nacionalidad -->
    <div class="photo-container">
      <img [src]="usuario.avatarUrl" [alt]="usuario.name" class="director-photo" />
      <div class="nationality-card">
        <span class="label">Rol</span>
        <span class="value">{{ usuario.role }}</span>
      </div>
    </div>

    <!-- Datos del director -->
    <div class="director-data">
      <h1 class="director-name">{{ usuario.name }}</h1>

      <div class="birth-info">
        <span class="label">Rol</span>
        <span class="value">{{ usuario.role }}</span>
        <span class="label">Ubicación</span>
        <span class="value">{{ usuario.location }}</span>
        <span class="label">Nombre de usuario</span>
        <span class="value">{{ usuario.username }}</span>
        <span class="label">Email</span>
        <span class="value">{{ usuario.email }}</span>


      </div>

    </div>
  </section>

  @if (usuarioRepositorios) {
  <section class="filmography" >
    <div class="filmography-header">
      <h2 class="section-title">Repositorios</h2>
        @for (repositorio of usuarioRepositorios; track repositorio.id) {
          <div class="movie-card">
            <img src="../../../assets/gitlogo.png" [alt]="repositorio.name" class="movie-title" />
            <span class="movie-title">{{ repositorio.description }}</span>
          </div>
        }
        @empty {
          <pre>{{ usuarioRepositorios | json }}</pre>
        }
    </div>
  </section>
    }
  <!-- Filmografía -->
}
